@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Roboto + Slab: wght @ 100; 200; 300; 400; 500; 600; 700; 800; 900 & display = swap' );


*, *:after, *:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.blue {
  background: #353535;
  color: #fff;
}
.navbar {
  padding: 10px 10%;
}
#logo {
  display: inline-block;
  margin-top: 5px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  
}
#link {
  color: #fff;
  font-weight: bold;
  margin: 0 10px;
}
i { margin: 0 7px; }
#sidebarCollapse {
  color: #fff;
  background: transparent;
  outline: none;
  margin: 0 20px;
}
#sidebarCollapse:hover {
  color: #000000;
  background: #fff;
  outline: none;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 70px;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header{
  font-family:'Roboto Slab', serif ;


}
#sidebar.active{
	margin-left: -250px;
  
}

#sidebar .sidebar-header{
	padding: 25px;
	background: #080808;
 
}
#sidebar ul.components{
	padding: 20px 0px;
  position: fixed;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px 10px 10px 20px;
	font-size: 1.1em;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
	display: block;
    color: #fff;

}
#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(0, 0, 0);
    background: #494949;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
}
@media (max-width:800px) {
  #sidebar {
    margin-left: -250px;}
  #sidebar.active{
	margin-left: 0px;
  }
  #sidebarCollapse span{
	display: none;
  }
  .card {
    width:100%;
  }
}
@media (max-width:400px) {
  #sidebar {
    margin-top: -20px;
  }
  #logo {
    display: none;
  }
}


html {
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
hoja de estilo del agente de usuario
html {
  display:flex;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{

  font-family: 'Roboto Slab', serif;
 
}

.container__2{
  background-color: black !important; 
  
}

h2{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 300%;
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 2%;
    padding-bottom: -10%;
    text-align: left;
    justify-content:left;
}
.parrafo___resumen{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  width: 80%;
  padding-top: -8%;
  padding-left: 30%;
    padding-right: 2%;
    padding-bottom: 8%;
    text-align: left;
    justify-content: right;
}

.container__3{
  background-color: rgb(22, 22, 22) !important; 
  
}
.parrafo___argumento{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  width: 80%;
  padding-top: -8%;
  padding-left: 30%;
    padding-right: 2%;
    padding-bottom: 8%;
    text-align: left;
    justify-content: right;
}

.container__4{
  background-color: rgb(51, 51, 51) !important; 
  
}
.parrafo___ficha{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  width: 80%;
  padding-top: -8%;
  padding-left: 30%;
    padding-right: 2%;
    padding-bottom: 8%;
    text-align: left;
    justify-content: right;
}



h5{
  color: rgb(0, 0, 0);
  font-family: 'Roboto Slab', serif;
  font-weight: 500;

}

h3{
  color: rgb(255, 255, 255);
  font-family: 'Roboto Slab', serif;
  padding-left: 10%;
  padding-top: 5%;
  font-weight: 500 !important;
  font-size: 200%;
  
}

.container__7{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__8{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__9{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.holden___1{
  padding-left: 30%;
}

.holden___2{
  padding-left: 10%;
  padding-top: -50%;
}

p{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  width: 100%;
  padding-top: 4%;
  padding-left: 15%;
    padding-right: 2%;
    padding-bottom: 8%;

}

.container__10{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
  
}
.container__11{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
  
}
.container__12{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
}

.bill___1{
  padding-left: 30%;
}

.bill___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__13{
  background-color: rgb(65, 65, 65) !important; 
  padding: 0px !important;
  
}
.container__14{
  background-color: rgb(65, 65, 65) !important; 
  padding: 0px !important;
  
}
.container__15{
  background-color: rgb(65, 65, 65) !important; 
  padding: 0px !important;
}

.wendy___1{
  padding-left: 30%;
}

.wendy___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__16{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__17{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__18{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.shepard___1{
  padding-left: 30%;
}

.container__19{
  background-color: rgb(36,36, 36) !important; 
  padding: 0px !important;
  
}
.container__20{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
  
}
.container__21{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
}

.nancy___1{
  padding-left: 30%;
}

.container__22{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__23{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__24{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.ed___1{
  padding-left: 30%;
}

.ed___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__25{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
  
}
.container__26{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
  
}
.container__27{
  background-color: rgb(36, 36, 36) !important; 
  padding: 0px !important;
}

.david___1{
  padding-left: 30%;
}

.david___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__28{
  background-color: rgb(65, 65, 65) !important; 
  padding: 0px !important;
  
}
.container__29{
  background-color: rgb(65, 65, 65) !important; 
  padding: 0px !important;
  
}
.container__30{
  background-color: rgb(65, 65, 65) !important; 
  padding: 0px !important;
}

.jerry___1{
  padding-left: 30%;
}

.jerry___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__31{
  background-color: rgb(80, 80, 80) !important; 
  padding: 0px !important;
  
}
.container__32{
  background-color: rgb(80, 80, 80) !important; 
  padding: 0px !important;
  
}
.container__33{
  background-color: rgb(80, 80, 80) !important; 
  padding: 0px !important;
}

.richard___1{
  padding-left: 30%;
}

.richard___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__34{
  background-color: rgb(100, 100, 100) !important; 
  padding: 0px !important;
  
}
.container__35{
  background-color: rgb(100, 100, 100) !important; 
  padding: 0px !important;
  
}
.container__36{
  background-color: rgb(100, 100, 100) !important; 
  padding: 0px !important;
}

.dennis___1{
  padding-left: 30%;
}

.dennis___2{
  padding-left: 10%;
  padding-top: -50%;
}

.container__39{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
  
}
.container__40{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.parrafo___temp1{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  width: 100%;
  padding-top: 4%;
  padding-left: 15%;
    padding-right: 2%;
    padding-bottom: 8%;
}

.container__41{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.container__42{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.parrafo___ep{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  width: 60%;
  padding-top: 4%;
  padding-left: 10%;
    padding-right: 2%;
    padding-bottom: 8%;

}

.container__43{
  background-color: rgb(65,65,65) !important; 
  padding: 0px !important;
}

.container__44{
  background-color: rgb(65,65,65) !important;
  padding: 0px !important;
}

.container__45{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.container__46{
  background-color: rgb(0, 0, 0) !important;
  padding: 0px !important;
}

.container__47{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.container__48{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.container__49{
  background-color: rgb(65,65,65) !important; 
  padding: 0px !important;
}

.container__50{
  background-color: rgb(65,65,65) !important;
  padding: 0px !important;
}
.container__51{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.container__52{
  background-color: rgb(0, 0, 0) !important;
  padding: 0px !important;
}

.container__53{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.container__54{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.container__55{
  background-color: rgb(65,65,65) !important; 
  padding: 0px !important;
}

.container__56{
  background-color: rgb(65,65,65) !important;
  padding: 0px !important;
}

.container__57{
  background-color: rgb(0, 0, 0) !important; 
  padding: 0px !important;
}

.container__58{
  background-color: rgb(0, 0, 0) !important;
  padding: 0px !important;
}

.container__59{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}

.container__60{
  background-color: rgb(36,36,36) !important; 
  padding: 0px !important;
}





