@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.intro_titular {
    background-color: #b2481b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
h1 {
    color: wheat;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 170%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
   
   }
.bajada {
    background-color: #57394A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
    }
h2 {
    color: wheat;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 120%;
    padding-left: 2%;
    padding-right: 2%;
}
.img_portada {
    display: flex;
    width: 100%;
    height:70% ;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.sección_reseña_artista {
    background-color: #E0C2C0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.párrafo_01{
    width: 30%;
    height: 20%;
    color:#b2481b; 
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.imagen_01 {
    display: flex;
    width: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 3%;
    padding-top: 3%;
}
h3 {
    color:#b2481b;
    font-family: 'Merriweather', serif;
    font-weight: 900 ;
    font-size: 300%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.sección_carrera_artista {
    background-color:#b2481b ;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.párrafo_02{
    width: 30%;
    height: 20%;
    color:#E0C2C0; 
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.imagen_02 {
    display: flex;
    width: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 3%;
    padding-top: 3%;
}
h4 {
    color: #E0C2C0;
    font-family: 'Merriweather', serif;
    font-weight: 900 ;
    font-size: 300%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.sección_disco_artista {
    background-color: #57394A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.imagen_03 {
    display: flex;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 4%;
    padding-top: 4%;
}
.sección_reseña_disco{
    background-color: #EAB586;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.imagen_04{
    display: flex;
    width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 3%;
    padding-top: 3%;
}
h5 {
    color:#57394A ;
    font-family: 'Merriweather', serif;
    font-weight: 900 ;
    font-size: 300%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.párrafo_04{
    width: 30%;
    height: 20%;
    color:#57394A ;
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.sección_reseña_disco_feminismo {
    background-color: #E0C2C0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.imagen_05{
    display: flex;
    width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 3%;
    padding-top: 3%;

}
.párrafo_05 {
    width: 30%;
    height: 20%;
    color: #b2481b;
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-bottom: 10%;
    padding-right: 5%;
}
.sección_reseña_disco_premios {
    background-color:#b2481b ;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-end;
}
.imagen_06 {
    display: flex;
    width: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 3%;
    padding-top: 3%;
}
.GRAMMYS {
    color: #E0C2C0;
    font-family: 'Merriweather', serif;
    font-weight: 900 ;
    font-size: 300%;
    padding-left: 4%;
    padding-right: 2%;
    padding-bottom: 7%;
    text-align: left;
    justify-content: left;
}
.párrafo_06{
    width: 30%;
    height: 20%;
    color:#E0C2C0; 
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.titularfotos{
    color:wheat ;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 200%;
    margin-bottom: -8%;
    padding-left: 0%;
    padding-right: -150%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
    
}
.párrafo_07{
    width: 50%;
    height: 20%;
    color: wheat;
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

}
.seccion_fotos_king1 {
    background-color: #57394A;
    padding-left: 30%;
    padding-top: 2%;
}
.seccion_fotos_king2 {
    background-color: #57394A;
    padding-left: 30%;
    padding-top: 1%;
    padding-bottom: 5%;
}
.titulardisco{
    color:#57394A ;
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 200%;
    margin-bottom: -8%;
    padding-left: 0%;
    padding-right: -150%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.párrafo_08{
    width: 60%;
    height: 20%;
    color: #57394A;
    font-family: 'Merriweather', serif;
    font-weight: 300 ;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    justify-content: left;
}
.seccion_discos_king1{
    background-color:#EAB586;
    padding-left: 30%;
    padding-top: 2%;
}
.seccion_discos_king2{
    background-color:#EAB586;
    padding-left: 30%;
    padding-top: 1%;
    padding-bottom: 10%;
}
.disco1 {
    color:#57394A ;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 200%;
}
.video1{
    background-color:#E0C2C0 ;
    padding-top: 0.5%;
    padding-bottom: 10%;
}
.video1_1{
    margin-top: -10%;
}
.video2{
    background-color:#b2481b ;
    padding-top: 0.5%;
    padding-bottom: 10%;
}
.video2_2{
    margin-top: -10%;
}
.videon2{
    color: #E0C2C0;
    font-family: 'Merriweather', serif;
    font-weight: 900 ;
    font-size: 300%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 10%;
    text-align: left;
    justify-content: left;
}
.barra_contancto{
    background-color:#57394A ;
    padding-top: 3%;
    padding-bottom: 3%;
}
.instagram1{
    padding-right: 25%;
}





       
   
